@import "./vars";

// 定义前缀
@prefixCls: mist;

@primary-color: var(--primary-color);

// 水波纹效果
@wave-animation-width:var(--wave-animation-width);

// 动画效果
@ease-base-out:var(--animate-ease-base-out);
@ease-base-in: var(--animate-ease-base-in);
@ease-out: var(--animate-ease-out);
@ease-in: var(--animate-ease-in);
@ease-in-out: var(--animate-ease-in-out);
@ease-out-back: var(--animate-ease-out-back);
@ease-in-back: var(--animate-ease-in-back);
@ease-in-out-back: var(--animate-ease-in-out-back);
@ease-out-circ: var(--animate-ease-out-circ);
@ease-in-circ: var(--animate-ease-in-circ);
@ease-in-out-circ: var(--animate-ease-in-out-circ);
@ease-out-quint: var(--animate-ease-out-quint);
@ease-in-quint: var(--animate-ease-in-quint);
@ease-in-out-quint: var(--animate-ease-in-out-quint);
